<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<title>奖品列表</title>
	<link rel="stylesheet" href="../css/cj.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="body100">
	<!--顶部-->
	<header>中奖列表
		<a href="" class="right_go">去刮卡</a>
	</header>
	<div class="h50"></div>
	<!--顶部 /-->
	<!--奖品列表-->
	<section class="prize_list">
		<ul>
			<li>
				<div class="prize_img"><img src="../images/prize_img.jpg" width="100%"></div>
				<div class="info">
					<h2>iPhone 6s 一部</h2>
					<p>中奖时间：2016-04-11 14:59</p>
				</div>
				<i title="已发送"></i>
			</li>
			<li>
				<div class="prize_img"><img src="../images/prize_img.jpg" width="100%"></div>
				<div class="info">
					<h2>iPhone 6s 一部</h2>
					<p>中奖时间：2016-04-11 14:59</p>
				</div>
			</li>
			<li>
				<div class="prize_img"><img src="../images/prize_img.jpg" width="100%"></div>
				<div class="info">
					<h2>iPhone 6s 一部</h2>
					<p>中奖时间：2016-04-11 14:59</p>
				</div>
			</li>
		</ul>
	</section>
	<!--奖品列表 /-->
	<!--底部信息-->
	<footer>
		<div class="title"><span>温馨提示</span></div>
		<p>获奖的小伙伴，我们将会根据您提交的收货地址，将奖品邮寄给您。如果是虚拟奖品，我们将会24小时内发放。</p>
	</footer>
	<!--底部信息 /-->
</body>
</html>